* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  min-height: 1000px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.sidebar {
  background-color: #1992d4;
  display: grid;
  grid-row: 1 / 3;
  grid-template-rows: 1fr 10fr;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.sidebar .logo {
  padding: 15px;
}

.sidebar ul {
  padding: 15px;
  list-style-type: none;
}

.sidebar ul li {
  padding-top: 10px;
}

.header {
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.searchbar {
  width: 60%;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px;
}

.search img,
.search button {
  width: 30px;
  height: 30px;
  border: none;
}

.userinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userinfo div {
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  background-color: lightgrey;
}

.article {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article .art {
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-left: 5px solid orange;
  border-radius: 5px;
  box-shadow: 5px 7px darkgrey;
}

.trending {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.announce {
}
